<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.78278013543-ipl34cmeo3qrkcrma2scqc70o5pvh1f6</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.amenapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>amenapp</string>
				<string>amen</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GOOGLE_VISION_API_KEY</key>
	<string>AIzaSyBRg7axwpIAxoKjuSuCBSqCtMuxfkqfE-k</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>AMEN uses Apple Music to play worship songs in your Church Notes.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>AMEN does not track you across other apps or websites. This permission is requested only if a third-party SDK requires it for analytics or crash reporting.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>AMEN uses speech recognition to let you compose posts, prayers, and messages by voice.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We&apos;ll send you reminders about church service times and when you&apos;re near your saved churches</string>
	<key>OPENAI_API_KEY</key>
	<string>${OPENAI_API_KEY}</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.amenapp.feed.refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>VertexAI</key>
	<string>AQ.Ab8RN6LUsJb4uBsOHXI_0ZmKvfNLkWcMUm9w3UlYqR_nQpgrlg</string>
	<key>YOUVERSION_API_KEY</key>
	<string>U64zDCF20CB5oVmCdZbH6LproDocCLImEbZCyRXHhUxFkRjx</string>
	<key>FEED_RANKING_URL</key>
	<string>$(FEED_RANKING_URL)</string>
	<key>SEARCH_SERVICE_URL</key>
	<string>$(SEARCH_SERVICE_URL)</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<false/>
	<key>ANTHROPIC_API_KEY</key>
	<string>${ANTHROPIC_API_KEY}</string>
</dict>
</plist>
